$primary-color: #3E92CF;
$primary-color-dark: #1976D2;

$primary-bg: #E1E6F8;
$info-color: #5578eb;
$bluelight500: #2d5cfa;
$bluelight550: #0080ff;
$blue-bar500: #2a93d5;
$success-color: #0abb87;
$error-color: #fd397a;
$warning-color: #ffb822;
$white: #fff;
$gray: #6c7293;
$gray100: #f3f3f3;
$gray200: #ebebeb;
$gray250: #d7d7d7;
$gray300: #8f8f8f;
$gray500: #707070;
$gray700: #999999;
$gray800: #3a3a3a;
$gray850: #495057;
$gray900: #666666;
$gray950: #3e3e3e;
$gray97_05: rgba(97, 97, 97, 0.5);

$black: #000;
$black87: rgba(0, 0, 0, 0.87);
$black06: rgba(0, 0, 0, 0.6);

$red400: #ff0000;
$red300: #f42828;
$red350: #eb4848;
$red200: #ff586b;

$green500: #34AF20;

$blue05: rgba(25, 118, 210, 0.5);
$blue-dark: #142a40;